<section>
    <section class="flex-row justify-center">
        <div class="instrument-information">
            <img src="/images/{{image}}">
            <p class="bold">{{instrument_name}}</p>
            <p>Price:$ {{price}}</p>
            <p>{{description}}</p>
            <p>Sold by: {{user.username}}</p>
            <button class="btn btn-primary btn-lg">Add to cart!</button>
        </div>
    </section>
</section>
